:root {
  --brand-color: #212121;
  --item-color: #2196f3;
  --link-color: #757575;
  --second-background: #f5f4fa;
  --third-background: #2f303a;
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}

.menu-item-one {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--item-color);
}

.menu-item-two {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--item-color);
}

.menu-item-twenty-two {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu-item-twenty-two:hover {
  color: var(--item-color);
}

.menu-item-twenty-two:focus {
  color: var(--item-color);
}

.menu-item-three {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu-item-three:hover {
  color: var(--item-color);
}

.menu-item-three:focus {
  color: var(--item-color);
}

.menu-item-thirty-three {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--item-color);
}

.menu-item-four {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu-item-four:hover {
  color: var(--item-color);
}

.menu-item-four:focus {
  color: var(--item-color);
}

.menu-item-five {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-left: 10px;
}

.menu-item-five:hover {
  color: var(--item-color);
}

.contact-icon:hover,
.contact-icon:focus {
  fill: var(--item-color);
}

.contact-icon {
  cursor: pointer;
  fill: #757575;
}

.menu-item-five:focus {
  color: var(--item-color);
}

.menu-item-six {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-left: 10px;
}

.menu-item-six:hover {
  color: var(--item-color);
}

.menu-item-six:focus {
  color: var(--item-color);
}

.menu-color {
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

.email {
  text-decoration: underline;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container-footer {
  min-width: 1200px;
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  /* padding-left: 215px; */
  font-style: normal;
  background: var(--third-background);
}

.footer-section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.fotter-address {
  margin-right: 70px;
}

.foot-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--item-color);
}

.foot-name:hover,
.foot-name:focus {
  color: rgb(118, 164, 207);
  transition: all 2s;
}

.foot-menu-color {
  color: #ffffff;
}

.foot-menu-color:hover,
.foot-menu-color:focus {
  color: rgb(118, 164, 207);
}

.foot-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 9px;
}

.foot-data:hover,
.foot-data:focus {
  color: rgba(255, 255, 255, 0.6);
}

.foot-data {
  color: white;
}

a.footer-contact {
  color: white;
}

.footer-contact:hover,
.footer-contact:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list {
  list-style-type: none;
  margin-top: 20px;
}
.footer-second-section {
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 70px;
}

.footer-second-section-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  margin-left: 35px;
  margin-top: 13px;
  padding-bottom: 10px;
}

.section-social-link-footer {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 32px;
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: white;
}

.social-icon-footer:hover,
.social-icon:focus {
  fill: white;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.social-link-footer,
.social-link-footer {
  background-color: #4c4e5f;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--item-color);
}
.title-color {
  min-width: 1200px;
  background: #2f303a;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('./../images/index_img/background-title.jpg');
}

.main-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
}

.name-color {
  color: var(--brand-color);
}

.name-description {
  color: var(--link-color);
}

nav .menu-color {
  color: #000000;
}

.box-first {
  background: var(--item-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.box-first:hover {
  background: #7cbef4;
}

.buttons {
  width: 1200px;
  margin: auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 56px;
  padding-top: 94px;
}

.second-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  /* margin-top: 100px;  czy to musi tu być? */
  width: 121px;
  height: 38px;
  /* background: #2196f3; */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.btn-hover {
  border: none;
  background: #F5F4FA;

}

.btn-hover:hover {
  background: var(--item-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: white;
}

.page-color {
  min-width: 1200px;
  margin: auto;
  background: var(--second-background);
}

button[type='button'] {
  cursor: pointer;
}

.container {
  /* width: 1200px; */
  margin: auto;
  /* padding-top: 94px; */
  /* padding-bottom: 94px; */
}

.border {
  border-bottom: 1px solid #ececec;
  min-width: 1200px;
  /* padding-bottom: 94px; */
}

/* .header-container {
  width: 1200px;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 25px;
  padding-top: 24px;
} */

.header-content {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.menu-item-one {
  /* margin-left: 215px; */
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.menu-item-two {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
}

.menu-item-twenty-two {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
}

.menu-item-three {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
}

.menu-item-thirty-three {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 46px;
}

.menu-item-four {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 50px;
}

.menu-item-five {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 40px;
  color: #757575;
}

.menu-item-six {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #757575;
}

.second-title {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.photo-first-page {
  gap: 30px;
  /* padding-bottom: 94px; */
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.last-title {
  margin-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.picture-portfolio {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 94px;
  gap: 30px;
}

/* .picture-portfolio > li { JAK TO DODAJE TO MAM UKŁAD 2X2
  margin-left: 30px;
  margin-bottom: 30px;
} */

.picture-portfolio-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.picture-portfolio-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--link-color);
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.picture-portfolio > li {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.picture-portfolio-hover:hover,
.picture-portfolio-hover:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.section-lorem-list {
  padding-top: 94px;
}
/* 
.description {
  margin: auto;
} */

.lorem-description-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.lorem-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

li > .name-color {
  padding-top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

li > .name-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-right: 30px;
  width: 270px;
  height: 75px;
  margin-bottom: 75px;
}

.list-photo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

/* .photo {
  width: 270px;
  height: 428px;
} */
.photo-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-inline: 15px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.occupation {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.section-social-link {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 32px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-icon:hover,
.social-icon:focus {
  fill: white;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--item-color);
}

.gap {
  padding-top: 94px;
  padding-bottom: 94px;
}

.last-section {
  padding-top: 94px;
  margin-bottom: 50px;
  fill: #afb1b8;
}

.last-section-icon-border {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
}

.last-section-icon-border:hover,
.last-section-icon-border:focus {
  border-color: var(--item-color);
}

.last-section-icon:hover,
.last-section-icon:focus {
  fill: var(--item-color);
}

.last-section-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 94px;
}
